{
  "servers": {
    "irc.example.com": {
      "nick": "MyBotNick",
      "nickserv_password": "your_password",
      "use_tls": false,
      "random_nick": true,
      "channels": ["#channel"],
      "port": 6667
    },
    "irc.buggyirc.net": {
      "nick": "MyBotNick",
      "use_tls": true,
      "port": 13371,
      "verify_ssl": false
    }
  },
  "default_server_config": {
    "nick": "dccbot",
    "use_tls": true,
    "random_nick": false
  },
  "default_download_path": "./downloads",
  "allowed_mimetypes": [
    "image/jpeg",
    "image/png",
    "video/x-matroska",
    "video/x-msvideo",
    "video/mp4",
    "video/webm",
    "application/zip",
    "application/x-tar",
    "audio/mpeg",
    "audio/mp4",
    "text/plain",
    "application/gzip",
    "application/x-rar"
  ],
  "max_file_size": 8589934592,
  "channel_idle_timeout": 10,
  "server_idle_timeout": 300,
  "auto_md5sum": true,
  "http": {
    "bind_addr": "0.0.0.0",
    "bind_port": 9999,
    "socket": null
  }
}